.theme-p2ce {
    --theme: #ff7b02;
    --themeTransparent: #ff7b0230;
    --themeHighlight: #ffbd80;
    scrollbar-color: #ff7b02 #111;
}

.theme-strata {
    --theme: #f0413c;
    --themeTransparent: #f0423c30;
    --themeHighlight: #ef8686;
    scrollbar-color: #f0413c #111;
}
