<!DOCTYPE html>
<html lang="en" class="theme-%GAME%">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>%TITLE% - Strata Wiki</title>
        <link rel="stylesheet" href="/assets/css/themes.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />
        <link rel="stylesheet" href="/assets/css/highlight.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="top-nav">
            <div class="game">
                <div>
                    <div id="current-game"></div>
                    <h2>Documentation</h2>
                </div>
                <button
                    title="Switch game"
                    class="icon-button"
                    onclick="document.querySelector('#gameSelector').showModal()"
                >
                    <span class="mdi mdi-controller"></span>
                </button>
            </div>
            <div class="categories">
                <a href="/%GAME%">Home</a>
                %CATEGORIES%
            </div>
        </div>
        <div class="sidebar">
            <div class="mobile">
                <button onclick="document.querySelector('.sidebar').classList.remove('active')" class="close">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
            <div class="inner desktop">%SIDEBAR%</div>
        </div>
        <div class="edit">
            <a class="btn">Edit</a>
        </div>
        <div class="content">%CONTENT%</div>

        <dialog id="gameSelector">
            <button class="close">
                <span class="mdi mdi-close"></span>
            </button>
            <h2>Select game</h2>
            <div class="games">Loading games...</div>
        </dialog>

        <script src="/assets/js/navigation.js"></script>
    </body>
</html>
