<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>%TITLE% - Strata Wiki</title>
        <link rel="stylesheet" href="/assets/css/global.css" />
    </head>
    <body>
        <div class="top-nav">
            <div class="games">Loading...</div>
            <div class="categories">%CATEGORIES%</div>
        </div>
        <div class="sidebar">%SIDEBAR%</div>
        <div class="edit">
            <a
                href="https://github.com/StrataSource/Wiki/tree/system-migration%FILE%"
                >Edit</a
            >
        </div>
        <div class="content">%CONTENT%</div>

        <script src="/assets/js/navigation.js"></script>
    </body>
</html>
