<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P2CE Wiki</title>

    <link rel="stylesheet" href="/assets/css/global.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="sidebar-pinned">
    <div class="sidebar">
      <h1>Docs</h1>
    </div>
    <div
      class="sidebar-close"
      onclick="document.body.classList.remove('sidebar-open')"
    ></div>

    <div id="wrapper">
      <h1 style="color: red">P2CE Wiki</h1>

      <a class="btn" href="%EDITLINK%" target="_blank">Edit</a>

      %CONTENT%
    </div>
  </body>
</html>
